html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Racing Sans One";
    src: url("../fonts/RacingSansOne-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Racing Sans One";
}

/* roll-down */
.roll-down-leave-active,
.roll-down-enter-active,
.roll-down-enter,
.roll-down-enter-to,
.roll-down-leave-to,
.roll-down-leave {
    overflow: hidden;
}

.roll-down-leave-active,
.roll-down-enter-active {
    transition: height .5s;
}
.roll-down-enter {
    height: 0%;
}
.roll-down-enter-to,
.roll-down-leave {
    height: 100%;
    overflow: hidden;
}
.roll-down-leave-to {
    height: 0%;
    overflow: hidden;
}